<h1 class="text-2xl font-bold font-typewriter">
  <%= link_to root_path,
      class: "flex items-center space-x-2 text-base-content hover:opacity-70 transition" do %>
    <%= image_tag '/icon.svg', class: "w-6 h-6 flex-shrink-0", alt: "RNGesus dice icon" %>
    <span class="leading-none">RNGesus</span>
  <% end %>
</h1>
