  <footer class="py-4 text-center text-base-content/60 font-handwriting text-xl">
    &copy; <%= Time.now.year %>
    &middot;
    <a href="mailto:rngesus@rudiment.net">
    T. Davis
    </a>
  </footer>
