<% 
  on_index = (controller_name == 'rolls' && action_name == 'index') 
  current_tab = params[:tab].presence || 'newest'
%>

<header class="border-b border-base-300 bg-base-100/80 backdrop-blur-sm py-4 px-6 flex flex-wrap justify-between items-center sticky top-0 z-50 gap-y-4">

  <div class="flex items-center gap-4 order-1">
    <%= render "shared/header/brand" %>
    <%= render "shared/header/nav", on_index: on_index, current_tab: current_tab %>
  </div>

  <div class="flex-1 flex justify-center order-3 sm:order-2 px-2 min-w-[300px] sm:min-w-0">
    <%= render "shared/header/search", on_index: on_index, current_tab: current_tab %>
  </div>

  <%= render "shared/header/user_menu", on_index: on_index, current_tab: current_tab %>

</header>
