<ul id="results" class="list bg-base-100 rounded-box shadow-md">
  <li class="p-4 pb-2 text-xs opacity-60 tracking-wide">Results</li>
  <% if roll.results.any? %>
    <% roll.results.sort_by(&:value).each do |result| %>
      <%= render result %>
    <% end %>
  <% else %>
    <p class="text-center my-10">No results found.</p>
  <% end %>
</ul>
