<ul id="results" class="list bg-base-100 rounded-box shadow-md">
  <li class="p-4 pb-2 text-xs opacity-60 tracking-wide">Results</li>
  <% roll.results_with_placeholders.each do |result| %>
    <%= render result %>
  <% end %>
</ul>
