<%# FIXME: down anybody call this? %>
<div id="<%= dom_id result %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= result.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Value:</strong>
    <%= result.value %>
  </div>
</div>
