<div id="<%= dom_id(randomizer, :like_button) %>" class="absolute top-4 right-4 z-10">
  <%= button_to toggle_like_randomizer_path(randomizer),
        method: :post,
        data: { turbo_stream: true },
        class: "text-primary hover:text-secondary transition flex items-center gap-1 bg-base-100/50 px-2 py-1 rounded-full hover:bg-base-100 shadow-sm" do %>
    <span class="text-sm font-bold"><%= randomizer.cached_votes_total %></span>
    <% icon_variant = current_user&.voted_for?(randomizer) ? :filled : :outline %>
    <%= icon 'thumb-up', variant: icon_variant, class: "w-4 h-4" %>
  <% end %>
</div>
