<div id="randomizer_like_button">
<%= button_to toggle_like_randomizer_path(randomizer),
      method: :post,
      data: { turbo_stream: true },
      class: "text-primary hover:text-secondary transition flex items-center gap-1" do %>

  <% icon_variant = current_user.voted_for?(randomizer) ? :filled : :outline %>
  <%= icon 'thumb-up', variant: icon_variant, class: "w-6 h-6" %>

  <span><%= randomizer.votes_for.size %></span>
<% end %>
</div>
