<% content_for :title, "Editing randomizer" %>

<%= turbo_frame_tag dom_id(@randomizer, :edit) do %>
  <div class="edit-form">
    <h1>Editing randomizer</h1>

    <%= render "form", randomizer: @randomizer %>

    <div class="actions">
      <%= link_to "Cancel", randomizer_path(@randomizer), data: { turbo_frame: dom_id(@randomizer) } %>
    </div>
  </div>
<% end %>
