<% content_for :title, "Randomizers" %>

<div class="w-full max-w-5xl mx-auto py-8 px-4">
  <% if notice.present? %>
    <p
      id="notice"
      class="py-2 px-4 mb-6 bg-green-100 text-green-700 font-medium rounded-lg shadow-sm"
    ><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center mb-6">
    <h1 class="font-extrabold text-4xl text-gray-900">Randomizers</h1>
    <%= link_to "New Randomizer", new_randomizer_path, class: "btn btn-primary btn-sm px-4 py-2" %>
  </div>

  <ul id="randomizers" class="space-y-4">
    <% @randomizers.each do |randomizer| %>
      <%= render randomizer %>
    <% end %>
  </ul>
</div>
