<% content_for :title, "Randomizers" %>

<div class="w-full">
  <% if notice.present? %>
    <p
      class="
        py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block
      "
      id="notice"
    ><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Randomizers</h1>
    <%= link_to "New randomizer",
    new_randomizer_path,
    class:
      "rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white block font-medium" %>
  </div>

  <div id="randomizers" class="min-w-full divide-y divide-gray-200 space-y-5">
<ul id="randomizers" class="list bg-base-100 rounded-box shadow-md">
  <% @randomizers.each do |randomizer| %>
    <%= render randomizer %>
  <% end %>
</ul>
  </div>
</div>
