<% content_for :title, "New randomizer" %>

<%= turbo_frame_tag :new_randomizer do %>
  <div class="new-form">
    <h1>New randomizer</h1>

    <%= render "form", randomizer: @randomizer %>

    <div class="actions">
      <%= link_to "Cancel", randomizers_path, data: { turbo_frame: :new_randomizer } %>
    </div>
  </div>
<% end %>
