<% content_for :title, @randomizer.name %>

<div class="max-w-5xl mx-auto py-8 px-4">

  <div class="flex items-center justify-between mb-8 pb-4 border-b-4 border-black">
    <h1 class="text-3xl font-bold font-header">
      <%= @randomizer.name %>
    </h1>

    <%= render "randomizers/like_button", randomizer: @randomizer, position_classes: "" %>
  </div>

  <div class="space-y-8">
    <% rolls = @randomizer.rolls.to_a %>
    <% should_animate = rolls.count == 1 %>
    <% rolls.each_with_index do |roll, index| %>
      <% rolled, result = roll.outcome %>
      <%= render "outcome_card", roll: roll, rolled: rolled, result: result, randomizer: @randomizer, index: index, animate: should_animate %>
    <% end %>
  </div>
</div>
