  <div class="flex items-center gap-4">
    <% Dice.predefined.each do |dice| %>
      <label class="cursor-pointer flex flex-col items-center">
        <%= form.radio_button :dice,
          dice.name,
          checked: roll.dice == dice.name
        %>
        <div class="p-2 rounded-md border-2 border-gray-300 hover:border-blue-500 mt-4">
          <%= icon dice.icon %>
        </div>
        <span class="text-sm mt-1"><%= dice.name %></span>
      </label>
    <% end %>
  </div>

