  <div class="flex items-center gap-4">
    <% Dice.all.each do |dice| %>
      <label class="cursor-pointer flex flex-col items-center">
        <%= form.radio_button :dice,
          dice.value,
          checked: roll.dice == dice.value
        %>
        <div class="p-2 rounded-md border-2 border-gray-300 hover:border-blue-500">
          <%= icon dice.icon %>
        </div>
        <span class="text-sm mt-1"><%= dice.name %></span>
      </label>
    <% end %>
  </div>

