<div id="rolls" class="min-w-full divide-y divide-gray-200 space-y-5">
  <% if rolls.any? %>
    <% rolls.each do |roll| %>
      <div
        class="
          flex flex-col sm:flex-row justify-between items-center pb-5 sm:pb-0
        "
      >
        <%= render roll %>
      </div>
    <% end %>
  <% else %>
    <p class="text-center my-10">No rolls found.</p>
  <% end %>
</div>
<div class="flex gap-2">
  <%= link_to "New roll",
  new_randomizer_roll_path(@randomizer),
  class:
    "rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white font-medium" %>
</div>
