<% content_for :title, "Editing roll" %>

<div class="md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing roll</h1>

  <%= render "form", roll: @roll %>

  <%= link_to "Show this roll", @roll, class: "w-full sm:w-auto text-center mt-2 sm:mt-0 sm:ml-2 rounded-md px-3.5 py-2.5 btn-secondary hover:btn-secondary inline-block font-medium" %>
  <%= link_to "Back to randomizer", randomizer_path(@roll.randomizer), class: "w-full sm:w-auto text-center mt-2 sm:mt-0 sm:ml-2 rounded-md px-3.5 py-2.5 btn-secondary hover:btn-secondary inline-block font-medium" %>
  <%# link_to "Back to rolls", rolls_path, class: "w-full sm:w-auto text-center mt-2 sm:mt-0 sm:ml-2 rounded-md px-3.5 py-2.5 btn-secondary hover:btn-secondary inline-block font-medium" %>
</div>
