<% content_for :title, "Rolls" %>

<div class="w-full">
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Rolls</h1>
    <%= link_to "New roll", new_randomizer_roll_path(@randomizer), class: "rounded-md px-3.5 py-2.5 btn-primary hover:btn-primary0 text-white block font-medium" %>
  </div>

  <%= render 'index', rolls: @randomizer.rolls %>
</div>
