<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <p id="notice"></p>

    <%= render @roll %>

    <%= link_to "Edit this roll", edit_randomizer_roll_path(@randomizer, @roll), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Back to rolls", randomizer_rolls_path(@randomizer), class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= button_to "Destroy this roll", [@randomizer, @roll], method: :delete, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </div>
</div>